In [2]:
#import pyarrow.feather as feather
import pandas as pd
import numpy as np
#from scipy.io import netcdf
import matplotlib.pyplot as plt 
import datetime
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")

In [3]:
from math import sqrt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

In [4]:
# it is better for visualisation if the columns date type (not int or str)
# when save df to csv, if the column names are date, they are saved as str
def convert_col_to_date(columns):
    
    # convert the columns type
    #columns = df.columns
    new_columns = []
    for col in columns:
        try:
            new_columns.append(pd.to_datetime(col).date())
        except: new_columns.append(col)
    return new_columns

In [5]:
# import freq df
k=3 #sample number
freq_level =  pd.read_csv(f"dataset/modeling/sample{k}/freq_sample.csv").set_index("proj_id")
print(freq_level.shape)
print(" ")
print("details: ")
print(f"daily_freq: {freq_level[freq_level['daily']].shape}")
print(f"mid_weekly_freq: {freq_level[freq_level['mid_weekly']].shape}")
print(f"weekly_freq: {freq_level[freq_level['weekly']].shape}")
print(f"fortnight_freq: {freq_level[freq_level['fortnight']].shape}")
print(f"low_freq_freq: {freq_level[freq_level['low_freq']].shape}")

freq_level.sort_values(["freq", "length"])

(25, 7)

details:
daily_freq: (5, 7)
mid_weekly_freq: (5, 7)
weekly_freq: (5, 7)
fortnight_freq: (5, 7)
low_freq_freq: (5, 7)

               daily  mid_weekly  weekly  fortnight  low_freq  length  freq
proj_id
NW_110200469    True       False   False      False     False    1356     1
MV_20480008     True       False   False      False     False    2058     1
BB_31519239     True       False   False      False     False    3770     1
NI_200000700    True       False   False      False     False    4659     1
BY_11163        True       False   False      False     False    5962     1
BY_6166        False        True   False      False     False     114     4
NW_80303572    False        True   False      False     False    1203     4
BE_9092        False        True   False      False     False    1771     4
MV_25440602    False        True   False      False     False    2393     4
NI_600040371   False        True   False      False     False    2762     4
TH_5429240507  False       False    True      False     False     288     7
BB_36404810    False       False    True      False     False     528     7
BW_32-603-6    False       False    True      False     False     623     7
NI_200001400   False       False    True      False     False     760     7
BB_29499502    False       False    True      False     False     855     7
NW_10203308    False       False   False       True     False     331    14
SN_46401509    False       False   False       True     False     420    14
NW_91142507    False       False   False       True     False     452    14
ST_44362869    False       False   False       True     False     527    14
HH_147         False       False   False       True     False     575    14
NW_22520132    False       False   False      False      True     183    30
NI_9610071     False       False   False      False      True     192    30
NI_40507251    False       False   False      False      True     233    30
NI_500000629   False       False   False      False      True     248    30
BW_23-520-0    False       False   False      False      True     278    30

In [6]:
# import t s and convert into date type
grouped_t_s = pd.read_csv(f"dataset/modeling/sample{k}/sample_t_s.csv").set_index("proj_id")
grouped_t_s.columns = convert_col_to_date(grouped_t_s.columns)
print(grouped_t_s.shape)
grouped_t_s.head()

(25, 6546)

,length,freq,1995-01-01,1995-01-02,1995-01-03,1995-01-04,1995-01-05,1995-01-06,1995-01-07,1995-01-08,...,2012-11-21,2012-11-22,2012-11-23,2012-11-24,2012-11-25,2012-11-26,2012-11-27,2012-11-28,2012-11-29,2012-11-30
proj_id,,,,,,,,,,,,,,,,,,,,,
NW_110200469,1356,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.31000,78.30000,78.30000,78.32000,78.32000,78.3400,78.33000,78.33000,78.31000,78.30000
MV_20480008,2058,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.02000,2.01000,2.01000,2.01000,2.03000,2.0200,2.02000,2.02000,2.03000,2.01000
BB_31519239,3770,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.21000,2.19000,2.19000,2.19000,2.20000,2.1900,NaN,NaN,NaN,NaN
NI_200000700,4659,1,44.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.73000,43.73000,43.73000,43.73000,43.73000,43.7300,43.73000,43.73000,43.73000,43.73000
BY_11163,5962,1,NaN,373.08399,NaN,NaN,NaN,NaN,NaN,NaN,...,370.43615,370.40831,370.41854,370.42508,370.44492,370.4701,370.50575,370.54035,370.57969,370.52173

In [7]:
# import ave_temp 
ave_temp = pd.read_csv(f"dataset/modeling/sample{k}/sample_temp.csv").set_index("proj_id")
ave_temp.columns = convert_col_to_date(ave_temp.columns)
print(ave_temp.shape)
ave_temp.head()

(25, 6546)

,length,freq,1995-01-01,1995-01-02,1995-01-03,1995-01-04,1995-01-05,1995-01-06,1995-01-07,1995-01-08,...,2012-11-21,2012-11-22,2012-11-23,2012-11-24,2012-11-25,2012-11-26,2012-11-27,2012-11-28,2012-11-29,2012-11-30
proj_id,,,,,,,,,,,,,,,,,,,,,
NW_110200469,1356,1,9.0,9.0,-10.0,-58.0,-66.0,-57.0,-76.0,-36.0,...,53.0,80.0,60.0,72.0,104.0,64.0,73.0,38.0,32.0,4.0
MV_20480008,2058,1,17.0,2.0,-13.0,-41.0,-57.0,-67.0,-65.0,-55.0,...,50.0,61.0,40.0,47.0,60.0,68.0,64.0,47.0,47.0,22.0
BB_31519239,3770,1,24.0,-1.0,-12.0,-61.0,-55.0,-77.0,-54.0,-51.0,...,42.0,58.0,29.0,57.0,68.0,61.0,69.0,52.0,44.0,26.0
NI_200000700,4659,1,11.0,7.0,-20.0,-74.0,-77.0,-70.0,-75.0,-37.0,...,45.0,77.0,56.0,53.0,96.0,70.0,68.0,35.0,32.0,12.0
BY_11163,5962,1,2.0,-24.0,-41.0,-98.0,-124.0,-105.0,-100.0,-72.0,...,22.0,35.0,44.0,35.0,64.0,68.0,62.0,50.0,6.0,-10.0

In [8]:
# import the cum_prec 
cum_prec=pd.read_csv(f"dataset/modeling/sample{k}/sample_prec.csv").set_index("proj_id")
cum_prec.columns = convert_col_to_date(cum_prec.columns)
print(cum_prec.shape)
cum_prec.head()

(25, 6546)

,length,freq,1995-01-01,1995-01-02,1995-01-03,1995-01-04,1995-01-05,1995-01-06,1995-01-07,1995-01-08,...,2012-11-21,2012-11-22,2012-11-23,2012-11-24,2012-11-25,2012-11-26,2012-11-27,2012-11-28,2012-11-29,2012-11-30
proj_id,,,,,,,,,,,,,,,,,,,,,
NW_110200469,1356,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,26.0,19.0,1.0,28.0,2.0,0.0,1.0,2.0
MV_20480008,2058,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,8.0,5.0,2.0,28.0,1.0,9.0,53.0,0.0
BB_31519239,3770,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,22.0,13.0,4.0,6.0,12.0,68.0,164.0,3.0
NI_200000700,4659,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,26.0,31.0,1.0,34.0,0.0,0.0,0.0,8.0
BY_11163,5962,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.0,176.0,155.0,2.0

In [ ]:
###########################################################################################################

# func

In [9]:
# create df for a t s (one row in grouped_t_s df)
def create_one_ts_df(row):
    bgr = row.name
    idx = row.dropna().index[2:]
    ts = row[idx]
    temp = ave_temp[idx].loc[bgr]
    prec = cum_prec[idx].loc[bgr]
    df = pd.DataFrame({"ts":ts,"temp": temp,"prec":prec, })
    return df


# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
        # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg


def split_df(reframed):
    # split into train and test sets, 
    values = reframed.values
    n_train = int(len(reframed)*0.8)
    train = values[:n_train, :]
    test = values[n_train:, :]
    # split into input and outputs
    train_X, train_y = train[:, :-1], train[:, -1]
    test_X, test_y = test[:, :-1], test[:, -1]
    # reshape input to be 3D [samples, timesteps, features]
    train_X = train_X.reshape((train_X.shape[0], 1, train_X.shape[1]))
    test_X = test_X.reshape((test_X.shape[0], 1, test_X.shape[1]))
    return train_X, train_y, test_X, test_y

# pick t s

In [10]:
# apply the func
ts1 = grouped_t_s.iloc[14]
print(f"ts length:{ts1[0]}, freq: {ts1[1]}")
df = create_one_ts_df(ts1)
print(df.shape)

ts length:855.0, freq: 7.0
(851, 3)

In [ ]:
# plot a t s with its predictors
fig, axs = plt.subplots(3,1, figsize=(20,10))
#fig.suptitle('Vertically stacked subplots')
a,b = 0,750
axs[0].plot(df["ts"][a:b])
axs[0].set_title('ground-wanter t s')
axs[1].plot(df["temp"][a:b])
axs[1].set_title('temp')
axs[2].plot(df["prec"][a:b])
axs[2].set_title('prec')

# apply

In [ ]:
###############################################################

# convert the df to match lstm data
# load dataset
values = df.values
# ensure all data is float
values = values.astype('float32')
# normalize features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(values)
# frame as supervised learning
reframed = series_to_supervised(scaled, 1, 1)
# drop columns we don't want to predict
reframed.drop(reframed.columns[-2:], axis=1, inplace=True)
print(reframed.shape)
################################################################

train_X, train_y, test_X, test_y= split_df(reframed)
print("input to be 3D [samples, timesteps(lag, features]\n")
print(f"train: {train_X.shape} , {train_y.shape} ,test: {test_X.shape} , {test_y.shape}")
####################################################################

# design network
model = Sequential()
model.add(LSTM(50, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dense(1))
model.compile(loss='mae', optimizer='adam')
# fit network
history = model.fit(train_X, train_y, epochs=50, batch_size=72, validation_data=(test_X, test_y), verbose=2, shuffle=False)
##############################################################################

# plot history
plt.plot(history.history['loss'], label='train')
plt.plot(history.history['val_loss'], label='test')
plt.legend()
plt.show()
##################################################################################

# make a prediction
yhat = model.predict(test_X)
test_X = test_X.reshape((test_X.shape[0], test_X.shape[2]))
# invert scaling for forecast
inv_yhat = scaler.inverse_transform(np.concatenate((yhat, test_X[:, 1:]), axis=1))[:,0]
#inv_yhat = np.concatenate((yhat, test_X[:, 1:]), axis=1)
#inv_yhat = scaler.inverse_transform(inv_yhat)
#inv_yhat = inv_yhat[:,0]

# invert scaling for actual
test_y = test_y.reshape((len(test_y), 1))
inv_y = scaler.inverse_transform(np.concatenate((test_y, test_X[:, 1:]), axis=1))[:,0]
#inv_y = scaler.inverse_transform(inv_y)
#inv_y = inv_y[:,0]

# calculate RMSE
rmse = sqrt(mean_squared_error(inv_y, inv_yhat))
print('Test RMSE: %.3f' % rmse)
#####################################################################

# RMSE for sample2 t s[9] : 0.014

In [ ]:
fd = pd.DataFrame([inv_y, inv_yhat]).T[:]
fd.columns = ["test_y", "predicted"]
fd.plot(figsize=(10,5))

In [ ]:
def f(df):
    # convert the df to match lstm data
    # load dataset
    values = df.values
    # ensure all data is float
    values = values.astype('float32')
    # normalize features
    scaler = MinMaxScaler(feature_range=(0, 1))
    scaled = scaler.fit_transform(values)
    # frame as supervised learning
    reframed = series_to_supervised(scaled, 1, 1)
    # drop columns we don't want to predict
    reframed.drop(reframed.columns[-2:], axis=1, inplace=True)
    #print(reframed.shape)
    ################################################################

    train_X, train_y, test_X, test_y= split_df(reframed)
    #print("input to be 3D [samples, timesteps(lag, features]\n")
    #print(f"train: {train_X.shape} , {train_y.shape} ,test: {test_X.shape} , {test_y.shape}")
    ####################################################################

    # design network
    model = Sequential()
    model.add(LSTM(50, input_shape=(train_X.shape[1], train_X.shape[2])))
    model.add(Dense(1))
    model.compile(loss='mae', optimizer='adam')
    # fit network
    history = model.fit(train_X, train_y, epochs=50, batch_size=72, validation_data=(test_X, test_y), verbose=2, shuffle=False)
    ##############################################################################

    # plot history
    #plt.plot(history.history['loss'], label='train')
    #plt.plot(history.history['val_loss'], label='test')
    #plt.legend()
    #plt.show()
    ##################################################################################

    # make a prediction
    yhat = model.predict(test_X)
    test_X = test_X.reshape((test_X.shape[0], test_X.shape[2]))
    # invert scaling for forecast
    inv_yhat = scaler.inverse_transform(np.concatenate((yhat, test_X[:, 1:]), axis=1))[:,0]
    #inv_yhat = np.concatenate((yhat, test_X[:, 1:]), axis=1)
    #inv_yhat = scaler.inverse_transform(inv_yhat)
    #inv_yhat = inv_yhat[:,0]

    # invert scaling for actual
    test_y = test_y.reshape((len(test_y), 1))
    inv_y = scaler.inverse_transform(np.concatenate((test_y, test_X[:, 1:]), axis=1))[:,0]
    #inv_y = scaler.inverse_transform(inv_y)
    #inv_y = inv_y[:,0]

    # calculate RMSE
    rmse = sqrt(mean_squared_error(inv_y, inv_yhat))
    #print('Test RMSE: %.3f' % rmse)
    return rmse
    #####################################################################

In [ ]:
err = []
for i in range(0,26):
    ts = grouped_t_s.iloc[i]
    df = create_one_ts_df(ts)
    #print(df.shape)
    rmse = f(df)
    err.append(rmse)

# plot RMSE for all t s in the sample

In [ ]:
# plot err (rmse) for all t s in the smple 
plt.figure(figsize=(10,5))
plt.bar(range(0,len(err)), err[:])
plt.xlabel("t s index")
plt.ylabel("RMSE ")

In [ ]:
freq_level

# outlier detection

In [ ]:
# apply the func
ts1 = grouped_t_s.iloc[14]
print(f"ts length:{ts1[0]}, freq: {ts1[1]}")
df = create_one_ts_df(ts1)
print(df.shape)

In [ ]:
df

In [ ]:
#########################

In [ ]:
##########################

In [ ]:
# apply the func
ts1 = grouped_t_s.iloc[14]
print(f"ts length:{ts1[0]}, freq: {ts1[1]}")
df = create_one_ts_df(ts1)
print(df.shape)


###############################################################

# convert the df to match lstm data
# load dataset
values = df.values
# ensure all data is float
values = values.astype('float32')
# normalize features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(values)
# frame as supervised learning
reframed = series_to_supervised(scaled, 1, 1)
# drop columns we don't want to predict
reframed.drop(reframed.columns[-2:], axis=1, inplace=True)
print(reframed.shape)
################################################################

train_X, train_y, test_X, test_y= split_df(reframed)
print("input to be 3D [samples, timesteps(lag, features]\n")
print(f"train: {train_X.shape} , {train_y.shape} ,test: {test_X.shape} , {test_y.shape}")
####################################################################

# design network
model = Sequential()
model.add(LSTM(50, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dense(1))
model.compile(loss='mae', optimizer='adam')
# fit network
history = model.fit(train_X, train_y, epochs=50, batch_size=72, validation_data=(test_X, test_y), verbose=2, shuffle=False)
##############################################################################

# plot history
plt.plot(history.history['loss'], label='train')
plt.plot(history.history['val_loss'], label='test')
plt.legend()
plt.show()
##################################################################################

In [ ]:
train_predict = model.predict(train_X)
#train_X = train_X.reshape((train_X.shape[0], train_X.shape[2]))
# invert scaling for forecast
#inv_train_predict = scaler.inverse_transform(np.concatenate((train_predict, train_X[:, 1:]), axis=1))[:,0]
train_mae_loss = np.mean(np.abs(train_predict - train_y))#, axis=1)
plt.figure(figsize=(10,15))
plt.hist(train_mae_loss, bins=100)
plt.xlabel('Train MAE loss')
plt.ylabel('Number of Samples');

threshold = np.max(train_mae_loss)
print(f'Reconstruction error threshold: {threshold}')

In [ ]:
train_mae_loss

In [ ]:

# make a prediction
yhat = model.predict(test_X)
test_X = test_X.reshape((test_X.shape[0], test_X.shape[2]))
# invert scaling for forecast
inv_yhat = scaler.inverse_transform(np.concatenate((yhat, test_X[:, 1:]), axis=1))[:,0]
#inv_yhat = np.concatenate((yhat, test_X[:, 1:]), axis=1)
#inv_yhat = scaler.inverse_transform(inv_yhat)
#inv_yhat = inv_yhat[:,0]

# invert scaling for actual
test_y = test_y.reshape((len(test_y), 1))
inv_y = scaler.inverse_transform(np.concatenate((test_y, test_X[:, 1:]), axis=1))[:,0]
#inv_y = scaler.inverse_transform(inv_y)
#inv_y = inv_y[:,0]

# calculate RMSE
rmse = sqrt(mean_squared_error(inv_y, inv_yhat))
print('Test RMSE: %.3f' % rmse)
#####################################################################

In [ ]:
# make a prediction
yhat = model.predict(test_X)
test_X = test_X.reshape((test_X.shape[0], test_X.shape[2]))
# invert scaling for forecast
inv_yhat = scaler.inverse_transform(np.concatenate((yhat, test_X[:, 1:]), axis=1))[:,0]
#inv_yhat = np.concatenate((yhat, test_X[:, 1:]), axis=1)
#inv_yhat = scaler.inverse_transform(inv_yhat)
#inv_yhat = inv_yhat[:,0]

# invert scaling for actual
test_y = test_y.reshape((len(test_y), 1))
inv_y = scaler.inverse_transform(np.concatenate((test_y, test_X[:, 1:]), axis=1))[:,0]
#inv_y = scaler.inverse_transform(inv_y)
#inv_y = inv_y[:,0]